
/*   WHEELS   */

.wheel1,
.wheel2 {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    border: 2.5px solid black;
    position: absolute;
    bottom: 0;
    animation: wheelsRotation 0s infinite linear;
}
.wheel1 {
    left: 12.9%;
    bottom: 5%
}
.wheel2 {
    left: 69.8%;
    bottom: 5%
}
.wheel-dot1,
.wheel-dot2 {
    width: 3px;
    height: 10px;
    background-color: black;
    position: absolute;
}
.wheel-dot3,
.wheel-dot4 {
    width: 10px;
    height: 3px;
    background-color: black;
    position: absolute;
}
.wheel-dot1 {
    top: 10%;
    left: 44%;
}
.wheel-dot2 {
    bottom: 10%;
    left: 44%;
}
.wheel-dot3 {
    top: 44%;
    right: 10%;
}
.wheel-dot4 {
    top: 44%;
    left: 10%;
}

.vehicle {
    width: 150px;
    position: relative;
}

@keyframes wheelsRotation {
    100% {
        transform: rotate(-360deg);
    }
}