.vehicle {
    width: 150px;
    position: relative;
    margin: 0 auto 10px auto;
}

/*   WHEELS   */

.wheel1,
.wheel2 {
    background-color: #ddd;
    border-radius: 50%;
    border: 2.5px solid black;
    position: absolute;
    bottom: 0;
    animation: wheelsRotation 0s infinite linear;
}

.wheel-dot {
    background-color: black;
    position: absolute;
}

@keyframes wheelsRotation {
    100% {
        transform: rotate(-360deg);
    }
}

/*   Car    */
.wheel1,
.wheel2 {
    width: 30px;
    height: 30px;
}
.wheel1 {
    left: 12.9%;
    bottom: 5%
}
.wheel2 {
    left: 69.8%;
    bottom: 5%
}
.wheel-dot1 {
    top: 10%;
    left: 44%;
}
.wheel-dot2 {
    bottom: 10%;
    left: 44%;
}
.wheel-dot3 {
    top: 44%;
    right: 10%;
}
.wheel-dot4 {
    top: 44%;
    left: 10%;
}
.wheel-dot1,
.wheel-dot2 {
    width: 3px;
    height: 10px;
}
.wheel-dot3,
.wheel-dot4 {
    width: 10px;
    height: 3px;
}

/*   Truck   */

.truck-wheel1,
.truck-wheel2 {
    width: 23px;
    height: 23px;
}
.truck-wheel1 {
    left: 8.5%;
    bottom: 3%
}
.truck-wheel2 {
    left: 67.4%;
    bottom: 3%
}
.truck-wheel-dot1,
.truck-wheel-dot2,
.truck-wheel-dot3,
.truck-wheel-dot4{
    width: 3px;
    height: 3px;
}
.truck-wheel-dot1 {
    top: 25%;
    right: 25%;
}
.truck-wheel-dot2 {
    top: 60%;
    right: 60%;
}
.truck-wheel-dot3 {
    top: 60%;
    right: 25%;
}
.truck-wheel-dot4 {
    top: 22%;
    right: 59%;
}


/*   Motorcycle   */

.mc-wheel1,
.mc-wheel2 {
    width: 43px;
    height: 43px;
}
.mc-wheel1 {
    left: 1%;
    bottom: 3%
}
.mc-wheel2 {
    left: 67%;
    bottom: 3%
}
.mc-wheel-dot1,
.mc-wheel-dot2,
.mc-wheel-dot3{
    width: 2px;
    height: 20px;
}
.mc-wheel-dot1 {
    transform: rotate(120deg);
    top: 33%;
    right: 25%
}
.mc-wheel-dot2 {
    left: 50%;
}
.mc-wheel-dot3 {
    transform: rotate(240deg);
    top: 35%;
    right: 70%
}